body{
  background-color: #c0d9e3;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Container {
  border: 1px solid green;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(94, 196, 138);
}

.input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 0;
}

.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100px;
  height: 30px;
  background-color: rgb(67, 129, 200);
  color: white;
}
.btn-login:hover {
  cursor: pointer;
  opacity: 0.8;
}

.detail{
  color: rgb(191, 40, 40);
}
